* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../image/quan1.png");
    background-size: cover;
}
.shell {
    width: 100%;
    height: 100vh;
}
.content {
    width: 100%;
    height: 100%;
    position: relative;
}
.content h2 {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    margin-top: 300px;
    color: rgb(18, 7, 7);
    font: 600 150px '隶书';
}
.images {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.images div {
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
}

a {
    color: black;
}

.img1 {
    background-image: url("../image/quan-else.png");
    width: 48%;
    height: 52%;
    top: 12%;
    left: 0;
}
.img2 {
    background-image: url("../image/quan-shangxi.png");
    width: 62%;
    height: 23.4%;
    bottom: 3%;
    left: 18.6%;
}
.img3 {
    background-image: url("../image/quan-zuozhe.png");
    width: 30%;
    height: 40%;
    bottom: 47%;
    left: 54%;
}
.img4 {
    background-image: url("../image/xiaochuan.png");
    width: 20%;
    height: 20%;
    bottom: 10%;
    left: 0%;
}
.img5 {
    background-image: url("../image/quan-niao.png");
    width: 20%;
    height: 30%;
    top: 1%;
    left: 20%;
}
.fanhui {
    width: 4%;
    height: 4%;
    background-image: url("../image/fanhui.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 8%;
    right: 1%;
    z-index: 9999;
}

@keyframes scale {
    0%{
        transform: scale(1);
    }
    50%,75%{
        transform: scale(3);
    }
    78%,100%{
        opacity: 0;
    }
}
.yuan1,.yuan2,.yuan3,.yuan4,.yuan5 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 999;
}
#yuan1 {
    background-color: rgb(105, 163, 182);
    top: 68%;
    left: 23%;
}
#yuan2 {
    background-color: rgb(86, 93, 129);
    top: 23%;
    left: 70%;
}
#yuan3 {
    background-color: rgb(13, 55, 10);
    top: 77%;
    left: 70%;
}
#yuan4 {
    background-color: rgb(101, 71, 101);
    top: 30%;
    left: 18%;
}
#yuan5 {
    background-color: rgb(199, 178, 97);
    top: 3%;
    left: 40%;
}
.yuan1:before,.yuan2:before,.yuan3:before,.yuan4:before,.yuan5:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: .7;
    background-color: #88b9dd;
    animation: scale 1.3s infinite cubic-bezier(0,0,.49,1.02);
}
.yuan1:before{
    animation-delay: 100ms;
}
.yuan2:before{
    animation-delay: 120ms;
}
.yuan3:before{
    animation-delay: 140ms;
}
.yuan4:before{
    animation-delay: 160ms;
}
.yuan5:before{
    animation-delay: 180ms;
}

.one {
    top: 67%;
    left: 26.5%;
    background-color: rgb(70, 109, 122);
}
.two {
    top: 2%;
    left: 44%;
    background-color: rgb(129, 110, 82);
}
.twoo {
    top: 22%;
    left: 73.5%;
    background-color: rgb(79, 84, 106);
}
.three {
    top: 76%;
    left: 74%;
    background-color: rgb(84, 96, 83);
}
.four {
    top: 29%;
    left: 22%;
    background-color: rgb(115, 96, 115);
}

button {
    position: absolute;
    margin: 0;
    padding: 0.4em 1.5em;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    font-family: inherit;
    z-index: 999;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  button:hover {
    animation: sh0 0.5s ease-in-out both;
  }
  
  @keyframes sh0 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(7deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-7deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  button::before,
  button::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
  }
  
  button:hover::before,
  button:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  button:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
  }
  
  button:hover::after {
    transform: translate(50%, 0) scale(1.1);
  }
  